footer {
    padding: 30px 0;
text-align: center;
background: rgba(255, 255, 255, 0.103); 
color: rgba(0, 0, 0, 0.836); 
text-shadow: none; 
line-height: 40px; 
@media @mobile {
    font-size: 12px; 
}
}