footer {
  color: rgba(255, 255, 255, 0.856);
  font-weight: bolder;
  padding: 80px 0;
  text-align: center;
  line-height: 40px;
  font-size: 23px;

  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #242323,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #242323,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  @media @mobile {
    font-size: 15px;
    padding: 60px 20px;
  }

  a {
   color: #ee7752;
  }
}

.top {
  color: #ee7752;
}
