.growth {
    max-width: 1200px;
    margin: 0 auto; 
    h1 {
        text-align: center;
        color: white;
        text-shadow: 2px 4px 3px rgba(104, 88, 88, 0.397);
        font-size: 60px;
    
        @media @mobile {
          font-size: 40px;
        }
    }
}

.learning {
    display: flex;
    .learning-info {
        margin: 30px; 
    }
}