.network {
  padding: 10px 0;
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 1px -8px 19px 0px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 1px -8px 19px 0px rgba(0, 0, 0, 0.71);
  box-shadow: 1px -8px 19px 0px rgba(0, 0, 0, 0.71);

  h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 4px 3px rgba(104, 88, 88, 0.397);
    font-size: 60px;

    @media @mobile {
      font-size: 40px;
    }
  }
  a {
    color: rgba(201, 83, 120, 0.938);
  }
  h2 {
    font-size: 40px;
    line-height: 50px;
  }
}

.all-network {
  margin: 0 auto; 
  max-width: 1500px;
  display: flex;
  @media @mobile {
    flex-direction: column;
  }
  
  .network-item {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.719);
    margin: 20px;
    padding: 30px;
    color: rgba(255, 255, 255, 0.904);
    text-align: center;
    line-height: 30px;
    -webkit-box-shadow: -1px 3px 16px -4px rgba(0,0,0,0.8);
-moz-box-shadow: -1px 3px 16px -4px rgba(0,0,0,0.8);
box-shadow: -1px 3px 16px -4px rgba(0,0,0,0.8);
    @media @mobile {
      width: auto;
    }

    ul {
      list-style-type: none;
      padding: 10px 70px;
      @media @mobile {
        padding: 0;
      }
      li {
        background: rgba(0, 0, 0, 0.534);

        text-align: left;
        margin: 10px;
        padding: 10px 10px;
        font-weight: 300;
        font-size: 25px;
        @media @mobile {
          font-size: 17px;
        }
      }
      .contact-icon {
        padding: 5px 20px;
        width: 20px;
        height: 20px;
        object-fit: cover;
        @media @mobile {
          padding: 0 10px; 
        }
      }
 
    }
  }
}


.media-info {
  display: flex;
  justify-content: center;
  @media @mobile {
    flex-direction: column;
  }
  .media-box {
    background: black; 
    margin: 20px; 
    padding: 30px;
  }
}

.media-icon {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
