body,
html {
  margin: 0;
  font-family: "Share", cursive;
  text-shadow: 1px 1px #0000009a;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  background: linear-gradient(141deg, #ee7752 10%, #e73c7e 51%, #ee7752 70%);
}
body a,
html a {
  text-decoration: none;
  color: white;
}
body .everythingwrapped,
html .everythingwrapped {
  margin: 0 auto;
  max-width: 2000px;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
code {
  font-size: 14px;
  color: red;
  font-weight: 300;
}
nav ul {
  width: 100%;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #2f2d2e;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
}
nav ul .title {
  float: left;
  color: white;
  margin: 20px;
  text-decoration: underline;
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}
@media (max-width: 700px) {
  nav ul .title {
    display: block;
    margin: 0 auto;
    float: none;
    text-align: center;
    font-size: 40px;
  }
}
nav ul img {
  object-fit: cover;
  width: 80px;
  height: 80px;
  padding: 5px;
  border: 5px solid white;
  border-radius: 100%;
}
nav ul li {
  float: right;
}
@media (max-width: 700px) {
  nav ul li {
    width: auto;
    text-align: center;
    float: none;
  }
}
nav ul li a {
  text-align: center;
  color: white;
  padding: 22px 40px;
  display: block;
  text-decoration: none;
}
@media (max-width: 700px) {
  nav ul li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.055);
  }
}
nav ul li a:hover {
  background-color: #ee7752;
  -webkit-animation: vibrate-1 0.7s linear infinite both;
  animation: vibrate-1 0.7s linear infinite both;
}
nav ul li a:active {
  background-color: #4caf50;
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
.header-body {
  margin: 0 auto;
  width: auto;
  height: auto;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;
  animation: gradientBG 15s ease infinite;
  text-align: center;
  padding: 70px 0;
  border-bottom: 30px solid #2f2d2e;
}
@media (max-width: 700px) {
  .header-body {
    padding: 30px 3px;
    animation: gradientBG 5s ease infinite;
  }
}
.header-body h1 {
  font-size: 50px;
  font-family: "Share", cursive;
  text-shadow: 2px 4px 3px rgba(104, 88, 88, 0.397);
}
@media (max-width: 700px) {
  .header-body h1 {
    font-size: auto;
  }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.intro {
  font-weight: bolder;
  font-size: 40px;
  background-image: linear-gradient(#dfdede, white);
  padding: 30px 0;
  text-align: center;
  text-shadow: none;
  line-height: 10px;
  color: #2f2d2e;
  border-bottom: 30px solid #2f2d2e;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
}
@media (max-width: 700px) {
  .intro {
    font-size: 30px;
    padding: 31px 0;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
  }
}
.intro img {
  border: 10px solid white;
  border-radius: 0 30px;
  width: 520px;
  height: 320px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  -webkit-box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.21);
}
.intro img:hover {
  -webkit-animation: wobble-hor-top 0.8s both;
  animation: wobble-hor-top 0.8s both;
}
@media (max-width: 700px) {
  .intro img {
    width: 250px;
    height: 250px;
  }
}
.intro h1 {
  line-height: 30px;
  font-family: 'Cardo', serif;
  letter-spacing: 2px;
  font-size: 60px;
  color: #2f2d2e;
  text-shadow: 2px 4px 3px rgba(104, 88, 88, 0.397);
}
@media (max-width: 700px) {
  .intro h1 {
    line-height: 51px;
    font-size: 40px;
    padding: 2px;
  }
}
.intro h2 {
  font-size: 30px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.623);
  font-family: 'Cardo', serif;
}
@media (max-width: 700px) {
  .intro h2 {
    font-size: 22px;
  }
}
.intro-img {
  padding: 30px 0;
}
@media (max-width: 700px) {
  .intro-img {
    padding: 20px 0;
  }
}
@-webkit-keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}
@keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}
.skills {
  padding: 20px 0;
  border-bottom: 30px solid #2f2d2e;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
}
.skills h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 4px 3px rgba(104, 88, 88, 0.397);
  font-size: 60px;
}
@media (max-width: 700px) {
  .skills h1 {
    font-size: 40px;
  }
}
.skills-content {
  margin: 0 auto;
  max-width: 1500px;
  padding: 10px 0;
  display: flex;
  text-align: center;
  color: white;
}
@media (max-width: 700px) {
  .skills-content {
    flex-direction: column;
  }
}
.skills-content .skill-box {
  padding: 10px;
  border-radius: 10% 30%;
  margin: 20px;
  width: 100%;
  background: #2f2d2ec7;
  -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.72);
  box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.72);
  border: 2px solid white;
}
.skills-content .skill-box h2 {
  line-height: 5px;
  padding: 0 ;
  font-size: 30px;
  text-shadow: 2px 4px 3px rgba(22, 21, 21, 0.397);
}
.skills-content .skill-box:hover {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.49);
}
@media (max-width: 700px) {
  .skills-content .skill-box {
    width: auto;
  }
}
.skills-content .skill-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.skills-content .skill-box ul li {
  padding: 20px 0;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.253);
  width: 60%;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
.projects {
  background: #8360c3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2083a7, #8360c3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2083a7, #8360c3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: unset;
  padding: 10px 0;
}
.projects h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 4px 3px rgba(104, 88, 88, 0.397);
  font-size: 60px;
}
@media (max-width: 700px) {
  .projects h1 {
    font-size: 40px;
  }
}
.all-work {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.all-work .single-project {
  flex-direction: column;
  display: flex;
  margin: 20px;
}
.all-work .single-project .project-info {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px 30px;
  line-height: 35px;
  text-shadow: none;
  background: white;
  font-size: 20px;
  -webkit-box-shadow: 0px 1px 13px 8px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 1px 13px 8px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 1px 13px 8px rgba(0, 0, 0, 0.24);
  border: 5px solid #2f2d2e;
}
@media (max-width: 700px) {
  .all-work .single-project .project-info {
    paddding: 0 12px;
    font-size: 15px;
    width: auto;
  }
}
@media (min-width: 768px) {
  .all-work .single-project .project-info {
    width: 90%;
  }
}
.all-work .single-project .project-info img {
  border-radius: 5%;
  border: 5px solid rgba(0, 0, 0, 0.041);
  object-fit: cover;
  max-width: 600px;
  height: 600px;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
}
@media (max-width: 700px) {
  .all-work .single-project .project-info img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) {
  .all-work .single-project .project-info img {
    width: 100%;
  }
}
.all-work .single-project .project-info h2 {
  font-size: 48px;
  border-bottom: 1px solid #2f2d2e;
}
@media (max-width: 700px) {
  .all-work .single-project .project-info h2 {
    font-size: 30px;
  }
}
.all-work .single-project .project-info h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #312f2f;
  letter-spacing: 3px;
}
@media (max-width: 700px) {
  .all-work .single-project .project-info h3 {
    font-size: 15px;
  }
}
.all-work .single-project .project-info h4 {
  font-size: 20px;
  color: #bd8111;
}
.all-work .single-project .project-info h4 a {
  color: #db991d;
  text-decoration: underline;
}
/* Description needs to stand out in projects section.  */
.description {
  background: #2f2d2e !important;
  color: rgba(253, 248, 241, 0.904);
}
/* Button Style for View More  */
.button-div {
  padding: 50px 0;
}
.button-div button {
  border: 0;
  padding: 10px 0;
  width: 210px;
  background: #00b4db;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0083b0, #00b4db);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0083b0, #00b4db);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 20px;
  font-family: "Share", cursive;
  text-shadow: 2px 4px 3px rgba(104, 88, 88, 0.397);
  color: white;
  border: 7px solid white;
  -webkit-box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.21);
}
.button-div button:hover {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
